/* :root{
    --heading_font: 'Montserrat', sans-serif;
} */

body {
    background: url(images/board.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}